@font-face {
  font-family: 'Dalelands';
  src: url("../fonts/Dalelands Uncial.otf") format("opentype");
}

*{
	font-family: 'Dalelands';
	font-size: 24px;
}
/*LOGIN & REGISTER STYLES*/
.loginPage, body{
	background-color: black
	}
.loginBox{
	position: absolute;
	left: 38%;
	top: 40%;
	background-color: #18D1E7;
	max-width: 21%;
	height: 23%;
	padding: 18px;
	border-radius:3px;
}
.registerBox{
	position: absolute;
	left: 38%;
	top: 30%;
	background-color: #18D1E7;
	max-width: 21%;
	height: 55%;
	padding: 18px;
	border-radius:3px;
}
.login-form{
	height: 100%;
	width:100%;
}
.register-form{
	height: 100%;
	width:100%;
}
.form-item{
	display: block;
	margin-bottom: 2%;
	width: 100%;
	font-size: 90%;
	border-color: black;
}
.login-button, .register-button{
	width:100%;
	background-color: #000000;
	color: #18D1E7;
	border-color: #18D1E7;
}

.social-login{
	max-width: 100%;
	position:relative;
	top: -115px;
}

/*GAME INITIAL MENU*/
.selectGame, .confirmation-view{
	padding:10px;
	z-index:-20;
	border-radius:10%;
}
.selectGame{
	background-color: #F5C851;
	position: relative;
	top:200px;
}
.confirmation-view{
	background-color: #F5C851;
	position: relative;
	top:120px;
}
.confirmation-view-load{
	background-color: #F5C851;
	border-radius:10%;
	width:50%;
	margin-top:20%;
}
.menu-selection{
	width: 50%;
	margin-bottom: 10px;

}
.menu-confirmation{
	padding:5%;
}
#loadgame-collapse > div > a:link, #loadgame-collapse > div > a{
	text-decoration:none;
	color: black;
}
#loadgame-collapse > div{
	display:block;
}
#loadgame-collapse > div > a:hover{
	text-decoration:none;
	color: red;
}
.new-game-item{
	border-color: red;
	font-size:150%;
}
.new-game-selects{
    border-color: red;
    font-size: 70%;
    margin-right:5%;
}
.new-game-selects > option{
	font-size: 100%;
}
.preview-box{
	position:relative;
    top: 100px;
}
.preview{
    min-height:80%;
    min-width:80%;
    max-width: 80%;
    max-height: 80%;
    border-radius: 50%;
    border: 2px solid red;
}
.menu-confirmation > p{
    font-size: 80%;
}
.character-title{
	color: white;
	padding-top:4%;
}
/*GAME STYLES*/
.game-nav{
	background-color:#0F7F8C;
	max-height: 60px;
    margin-bottom: 1.5%;
}
.game-nav > .container-fluid{
	margin-bottom:0px;
}

.game-nav-options > li{
	list-style-type: none;
	position: relative;
	top: -20px;
}
.game-nav-options > li, .game-nav-options > li > a{
	float: left;
	margin-left: 5px;
	margin-right: 20px;
	color: black;
}
#save-collapse{
	z-index:10;
}
.save-options{
	width:100%;
	position: absolute;
	background-color:#129DAE;
	top: 60px;
}
.save-options > ul > li{
    list-style-type: none;
    margin-right: 27px;
}
.save-options > ul > li > a{
	color:black;
}

.book{
	background-color: #FFB356;
	position: absolute;
	top:20%;
	left:20%;
	width:60%;
	height:70%;
	border-radius:1%;
	padding:1%;
}
.stats{
	position:relative;
	top:20px;
}
.totalhealth{
 background-color: #FFE4E2;
 width: 300px;
 height: 10px;
 position: relative;
 left: 4%;
 top: 35px;
 border-radius: 4%;
}
.currenthealth{
background-color: #FF1300;
height:100%;
width: 75%;
}
.healtnumber{
 color: red;
 position:relative;
 left:20px;
 top:-2px;
}
.profileAvatar{
  width: 40px;
  height: 40px;
}
.profileAvatar > img{
	max-width:100%;
	border-radius: 50%;
}
.lineal{
	float:left;
}
span.lineal{
	margin-left: 1%;
}
.charname{
	color: white;
}
.history-logs{
	float:right;
	color: white;
	position: relative;
	top: 80px;
	right: 20px;
}
.history-logs > p{
	font-size: 60%;
}
 .history-logs > p > span{
 	font-size:100%;
}
.history-context{
	background-color:#FFCE92;
	font-size: 80%;
	min-height: 65%;
	margin-bottom: 5%;
	padding:10%;
	vertical-align: middle;
	border-radius: 15%;
}

/*GAME BUTTONS*/
.decisions{
	float:left;
	font-size: 70%;
	height: 25%;
	min-width:100%;
}
.decision{
	 min-width: 32%;
	 max-width: 32%;
	 min-height: 100%;
	 line-height: 150%}


/*GAME LOGS*/
 span.enemy{color:#FF5E1A;}span.ownDamage{color: #F40C00;}span.enemyDamage{color: #3C8EFF;}span.victory{color: #1BCA00;}span.terrain{color:#C68400;}span.object{color:#FFF729;}
/*GAME EQUIPMENT*/
.equipment {
	background-color:#CB7000;
	position:relative;
	top: 100px;
	border-radius: 0 18% 18% 0;
}
.equipment > a > img, .usables > img {
	width:50px;
	height:50px;
	display:block;
	margin:20px;
	border:3px solid black;

}
#weapon-collapse >a > img{
	width:50px;
	height:50px;
	display:block;
	margin-bottom:20px;
	position:relative;
	top: -10px;
	left:20px;
	border: 3px solid red;
}
/*WEBSITE STYLES*/
.logo > a > img{
	width:50px;
	height: 50px;
	position: relative;
	top:2px;
	margin-top:3px;
	margin-bottom: 0px;
}
.website{
	background-color: #F2F0D5;

}
.web-nav{
	background-color:#0F7F8C;

    margin-bottom: 1.5%;
}
.web-nav > .container-fluid{
	margin-bottom:0px;
}

.web-nav-options > li{
	list-style-type: none;
	height:1px;
	position: relative;
	top: -40px;
}
.web-nav-options > li, .web-nav-options > li > a{
	float: left;
	margin-left: 5px;
	margin-right: 20px;
	margin-bottom: 0PX;
	color: white;
}

.carousel-inner{
	margin-top:0px;
	height:400px;
}
header.web-nav, web-nav > .container-fluid{
	margin-bottom:0px;
}

section{
	margin-top: 5%;
}
section > p, section > div > p, section > div > div > p{
	font-size: 90%;
}
section.blue{
	background-color:#E9EEFA;
	padding-top: 2%;
	padding-bottom: 2%;
}
.home-button{
	font-size:80%;
	margin-top:2%;
	margin-right:1%;
}
footer{
	background-color: black;
	margin-top:5%;
	padding-top:1%;
	padding-bottom:1%;
	color: white;
}
footer > div > a:link, footer > div > a{
	text-decoration: none;
	color: white;
	font-size: 70%;
}
footer > div > a:hover{
	text-decoration: none;
	color: grey;
}

footer > div > a{
	margin-right:2%;
}
author{
	font-size:70%;
}
author > a:link, author > a{
	font-size: 100%;
	color: white;
}
author > a:hover{
	text-decoration: none;
	color: grey;
}

/*SCORE PAGE*/
.scorePage{
	position:fixed;
	bottom:0px;
	width:100%;
}
.scores{
	width:100%;
	margin-top:10%;
}
.grey{
	background-color: #ECEBEB;
}

