extends layout/index.pug

block content
    section
      .container.text-center
        h1 RPGAME
        p
          | RPGAME empezó como proyecto de entrenamiento en SkylabCodersAcademy, el cual mezcla varias tecnologías actuales para satisfacer todos los aspectos técnicos que requiere una game-app. Actualmente sigue en desarrollo y aún no tiene un punto final fijado. Así que te invitamos a que sigas todas las novedades y no hagas llegar feedback si te ves con ganas!
    section.blue
      .container
        .col-md-4.text-center
          h2 Proyecto de entrenamiento
          p
            | rpGame ha servido a modo de entrenamiento para el uso de las nuevas tecnologías, pero no tiene intención de dejar de evolucionar.
        .col-md-4.text-center
          h2 Open source
          p
            | Desde el equipo de desarrollo de rpgame creemos en el concepto open-source, por eso tenemos todo el código a tu disposición en 
            a(href='https://github.com/SantiVelat/rpgGame') gitHub
        .col-md-4.text-center
          h2 Las tecnologias implementadas
          p
            | La lista de tecnologías es extensa, pero las principales son: AngularJS, Jade, Express, NodeJS, HTML, CSS, MongoDB, Mongoose...
    section
      .container.text-center
        h2 Quieres contribuir?
        p
          | El equipo de desarrollo hasta el momento cuenta solo de una persona, pero el proyecto ha cogido un buen rumbo y va a seguir actualizándose. Por eso estamos abierto a propuestas de colaboración, o a cualquier tipo de feedback.
    section.blue
      .container.text-center
        h2 Contacta con los desarrolladores
        p
          | Santi Velat es el desarrollador. Si quieres contactar con el desarrollador puedes mandar acceder directamente a 
          a(href='https://www.linkedin.com/in/santi-velat/') linkedin 
          | o acceder directamente a 
          a(href='https://github.com/SantiVelat/rpgGame') gitHub 
    section
      .container.text-center
        h2 Con la ayuda de...
        p
          | El proyecto ha sido lanzado gracias al soporte de SkylabCodersAcademy, su profesorado y su equipo de staff. También es importante el agradecimiento a los compañeros de entrenamiento, puesto que entre todos los conocimientos e ideas no han tenido límites.
