extends layout/index.pug

block content
    section
      .container.text-center
        h1 RPGAME(nombre temporal)
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nemo saepe vero officia ipsam itaque neque beatae non repudiandae, quibusdam vel molestiae ipsum suscipit, obcaecati eos sed, ducimus minus. Mollitia!
    section.blue
      .container
        .col-md-4.text-center
          h2 Proyecto de entrenamiento
          p
            | Vel deleniti, excepturi ratione laudantium illo enim? Explicabo repellat nesciunt placeat iste totam esse ipsam quaerat!
        .col-md-4.text-center
          h2 Open source
          p
            | Vel deleniti, excepturi ratione laudantium illo enim? Explicabo repellat nesciunt placeat iste totam esse ipsam quaerat!
        .col-md-4.text-center
          h2 Las tecnologias implementadas
          p
            | Vel deleniti, excepturi ratione laudantium illo enim? Explicabo repellat nesciunt placeat iste totam esse ipsam quaerat!
    section
      .container.text-center
        h2 Quieres contribuir?
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis modi facere omnis eius, similique voluptatum odio? Eius blanditiis labore in impedit architecto eaque ipsam, dignissimos minima debitis excepturi rerum ab.
    section.blue
      .container.text-center
        h2 Contacta con los desarrolladores
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis modi facere omnis eius, similique voluptatum odio? Eius blanditiis labore in impedit architecto eaque ipsam, dignissimos minima debitis excepturi rerum ab.
    section
      .container.text-center
        h2 Con la ayuda de...
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis modi facere omnis eius, similique voluptatum odio? Eius blanditiis labore in impedit architecto eaque ipsam, dignissimos minima debitis excepturi rerum ab.
