extends layout/index.pug

block content
    // -Carousel
    // -If the time goes on my side, would like introduce some card on each picture, with some kind of information about the game terrains or enemies
    #homeCarousel.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#homeCarousel', data-slide-to='0')
        li(data-target='#homeCarousel', data-slide-to='1')
        li(data-target='#homeCarousel', data-slide-to='2')
      .carousel-inner
        .item.active
          img(src='img/forest2.jpg')
        .item
          img(src='img/cave.jpg', alt='Chicago')
        .item
          img(src='img/forest.jpg', alt='New York')
      a.left.carousel-control(href='#homeCarousel', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
        span.sr-only Previous
      a.right.carousel-control(href='#homeCarousel', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
        span.sr-only Next
    section
      .container.text-center
        h1 Juega tu propia aventura
        p
          | rpGame es una aventura auto-guiada. Un juego donde puedes decidir las respuestas, acciones, movimientos de combate.. y sobre todo la forma en la que vas a morir; Ya que en rpGame tienes muchas decisiones que tomar, y muchas de ellas te llevarán a un final poco agradable..
    section.blue(style="background-image: url('img/alone.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover; color: white; text-shadow:2px 2px black; ")
      .container
        .col-md-4.text-center
          h2 Toma tus propias decisiones
          p
            | Decide si quieres ser un héroe o un cobarde. Ten cuidado con tus palabras; en rpGame un comentario desagradable o un movimiento arrogante puede representar tu final.
        .col-md-4.text-center
          h2 Descubre todos los caminos
          p
            | En esta aventura auto-guida podrás elegir por donde avanzar; Te gustan los lugares oscuros y húmedos...? Ve por cuevas subterráneas. Prefieres el canto de los pájaros, sigue el bosque. O si eres de los que prefiere la falsa seguridad de los caminos... síguelos!  
        .col-md-4.text-center
          h2 Vigila las reacciones enemigas!
          p
            | Los combates no se basan en tu seguridad, sino en la coherencia de tus acciones. Si eres arrogante y quieres deshacerte de tus enemigos a base de palabrería, necesitarás mucha suerte para no morir en el camino...
    section
      .container.text-center
        h2 Como empezar
        p
          | Para empezar a jugar no necesitas mucho, tan solo un nombre de usuario y tu conjuro secreto(contraseña). El juego es realmente intuitivo, por lo que una ve dentro el instinto hará el resto por ti.. Pero una cosa ten clara: necesitarás mas vidas que un gato...
        a(href='register.html')
          button.btn.btn-primary.home-button A jugar!