doctype html
html(lang='es/ES')
  head
    meta(charset='UTF-8')
    title development stage
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include ../includes/styles.pug
  body.website
    include nav.pug
    block content 
    include footer.pug
  include ../includes/scripts.pug