header.web-nav
      .container-fluid
        figure.logo
          a(href='/')
            img(src='img/logo.jpg')
          // Aqui va la foto de perfil del jugador o logo del juego
        ul.web-nav-options.pull-right
          li
            a(href='about') About
          li
            a(href='game/')
              strong A jugar!