<div class="backgrounds" ng-class="gameCtrl.terrain">
	<div class="container-fluid">
		<aside class="stats" ng-controller="CharacterController as charCtrl">
			<figure class="lineal profileAvatar"><img src="../img/face.png"/></figure><!---The player image or some kind of default avatar-->
			<span class="lineal charname">{{ charCtrl.characterName }}</span><!---with angular here goes the name of the player, or character-->
			<div class="totalhealth">
				<div class="currenthealth" style="width: {{ charCtrl.getHealthPercentage() }}%">
				</div>
			</div>
			<p class="healthnumber">{{ charCtrl.getHealthPercentage() }}%</p><!--This will be dinamic, based on the current health-->
		</aside>
		<div class="book text-center" style="opacity:0.9">
			<span ng-if="gameCtrl.terrain=='combat'">
			    <div class="totalhealth">
				<div class="current-enemy-health" style="width: {{ gameCtrl.enemyHealth }}%">
				</div>
				</div>
			    <p class="history-context">{{ gameCtrl.combatContext }}</p>
				<div class="decisions">
				  <button class="btn btn-danger decision" ng-repeat="movement in gameCtrl.movements" ng-click="gameCtrl.combatMovement(movement)">{{ movement.description }}</button>
	            </div>
			</span>
			<span ng-if="gameCtrl.terrain!='combat'">
				<p class="history-context" ng-bind-html="gameCtrl.hystoryPhaseText"></p>
				<div class="decisions">
				  <button class="btn btn-primary decision" ng-repeat="decision in gameCtrl.decisions" ng-click="gameCtrl.changeHistoryPhase(decision.next)">{{ decision.description }}</button>
	            </div>
	        </span>		
		</div>
	</div>
	<aside class="history-logs pull-right">
		<!--with angular here will be appearing the last events, just showing the 20 lasts-->
		<p>Has encontrado un <span class="enemy">lobo</span></p>
		<p>Perdida de <span class="ownDamage">47</span> hp</p>
		<p>Has inflingido <span class="enemyDamage">78</span> de daño</p>
		<p>Has vencido al <span class="victory">lobo</span></p>
		<p>Has entrado en un <span class="terrain">bosque</span></p>
		<p>Has encontrado una <span class="object">espada</span></p>
	</aside>
</div>
